/*******************
MEDIUM SCREEN SIZES
*******************/
@media screen and (min-width: 480px) {
	h1 {
		font-size: 2.5em;
	}

	h4 {
		font-size: 1em;
	}

	#products .product {
	margin: 2em .5em auto;
	display: inline-block;
	vertical-align: top;
	}

}


/*******************
LARGE SCREEN SIZES
*******************/
@media screen and (min-width: 760px) {
	h1 {
		font-size: 3.25em;
	}

	h4 {
		font-size: 1.25em;
	}

}