/* COLORS
background: #F8F5F0;
light blue: #8FB5FF;
dark blue: #4167B2;
dark grey: #3E3F3A;
light grey: #C4B9A5;
*/




/*******************
GENERAL STYLES
*******************/
body {
	background: #F8F5F0;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

h1, h3, h4 {
	font-weight: 400;
} 

h1 {
	font-size: 2em;
	margin-bottom: 0;
}

h4 {
	color: #C4B9A5;
	font-size: .9em;
	margin-top: .5em;
	margin-bottom: 2.5em;
}


.price {
	font-weight: bold;
	font-size: 2em;
}

.button {
	color: #FFF;
	background-color: #8FB5FF;
	border-radius: 5px;
	font-weight: 800;
	padding: 1em 1em;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
}

.button:hover {
	background-color: #4167B2;
}

product.button {
	color: #FFF;	
}





/*******************
PRODUCT STYLES
*******************/
#products .product {
	margin: 1em auto;
}

section.product {
	width: 175px;
	background: #FFF;
	border: solid 3px #FFF;
	border-radius: 10px;
	font-size: .8em;
	height: 25em;
	margin: 6em .75em 6em 0;
	padding: 2em 2em 4em 2em;
}

section.product:hover {
	border: solid 3px #8FB5FF;
}

section.product h3 {
	color: #C4B9A5;
	text-transform: uppercase;
}

section.product > .button {
	margin: 1em auto;
}

section.product > a:not(.button) {
	color: #8FB5FF;
	display: block;
	font-weight: bold;
}

section.product a, ul {
	line-height: 1.5em;
}

section.product:nth-child(1){
	margin-left: .75em;
}

section.product > ul {
	list-style-type: none;
	padding: 0;
	color: #595345;
}





/*******************
ENTERPRISE STYLES
*******************/
#enterprise {
	background: #3E3F3A;
	border: solid 3px #3E3F3A;
}

#enterprise li {
	color: #C4B9A5;
}

#enterprise:hover {
	border: solid 3px #8FB5FF;
}




/*******************
CHART GRAPHICS
*******************/
.circle {
	width: 50px;
	height: 50px;
	background-color: #8FB5FF;
	margin: 0 auto;
	border-radius: 50%;

}

.inner_circle {
	width: 20px;
	height: 20px;
	background-color: #FFF;
	margin: -35px auto;
	border-radius: 50%;
}


.chart {
	margin-bottom: 75px;
}

#developer .circle {
	background-color: #C4B9A5;
}


#project .circle {
background: 
	linear-gradient(360deg, #8FB5FF 50%, transparent 50%) 50% 50%,
	linear-gradient(270deg, #272b66 50%, transparent 50%) 0 50%,
	#8FB5FF 50% 100%;	
}

#startup .circle {
background: 
	linear-gradient(270deg, #272b66 50%, transparent 50%) 0 50%,
	#8FB5FF 50% 100%;
}

#business .circle {
background: 
	linear-gradient(270deg, #272b66 50%, transparent 50%) 0 50%,
	linear-gradient(180deg, #8FB5FF 50%, transparent 50%) 50% 0,
	#272b66 50% 100%;	
}

#enterprise .circle {
	background-color: #FFF;
}

#enterprise .inner_circle {
	background-color: #3E3F3A;
}